includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
    level: 5
    ignoreErrors:
        # Prism PHP package - classes may not be available in CI environment
        - '#Call to static method .+ on an unknown class EchoLabs\\Prism\\#'
        - '#Instantiated class EchoLabs\\Prism\\.+ not found#'
        - '#Method .+ has invalid return type EchoLabs\\Prism\\#'
        - '#Access to constant .+ on an unknown class EchoLabs\\Prism\\#'
    excludePaths:
        - ./*/*/FileToBeExcluded.php
